# Tests
src/**/*.test.js
src/test/
types/test/

# ProvenDoc generator
src/README.md.js

# Dev files
releases/
docs/
knip.json
system.md
next.md
tsconfig.json
.editorconfig
CONTRIBUTING.md
ARCHITECTURE.md

# LLiMo / AI artifacts
chat/
.datasets/
me.md

# Generated
dist/
.cache/
